import { string } from "prop-types"
import * as Styled from "./{{camelCase name}}.styled"

const {{pascalCase name}} = props => (
<div>
  {{pascalCase name}}
</div>
)

{{pascalCase name}}.propTypes = {}

{{pascalCase name}}.defaultProps = {}

export default {{pascalCase name}}